/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config*
/depcomp
/pubsuf-*.pc
/pubsuf-*.tar.*
/pubsuftest
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*.o
